## Условие 2:
На складе лежат разные фрукты в разном количестве.

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

In [1]:
def get_fruits_total(**fruits):
    total_qty = 0

    for qty in fruits.values():
        total_qty += qty

    return total_qty

print(f'Fruits total: {get_fruits_total(apples=5, lemons=13, oranges=8, bananas=10)}')

Fruits total: 36

## Условие 3:

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

`[100, 125, -90, 345, 655, -1, 0, 200]`

Используйте list comprehensions

In [2]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]

expenses_filtered = [val for val in expenses if val > 0]
print(expenses_filtered)
print(f'Total expenses: {sum(expenses_filtered)}')

[100, 125, 345, 655, 200]
Total expenses: 1425

## Условие 4:

Даны два списка.

Дата покупки

`['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']`

Суммы покупок по датам

`[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]`

In [3]:
purchase_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
                  '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
                  '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
                  '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
                  '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
                  '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
purchases = [1270, 8413, 9028, 3703, 5739, 
             4095, 295, 4944, 5723, 3701, 
             4471, 651, 7037, 4274, 6275, 
             4988, 6930, 2971, 6592, 2004, 
             2822, 519, 3406, 2732, 5015, 
             2008, 316, 6333, 5700, 2887]

### Задание 4.1 

Найдите, какая выручка у компании в ноябре.

Используйте list comprehensions.

In [4]:
sales_november = sum([purchases[i] for i in range(len(purchase_dates)) if purchase_dates[i][5:7] == '11'])
print(f'Sales in November: {sales_november}')

Sales in November: 25098

### Задание 4.2 

Найдите выручку компании в зависимости от месяца.

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [5]:
def get_monthly_sales(dates: list, purchs: list) -> dict:
    sales = dict()

    for i in range(len(dates)):
        m_key = dates[i][5:7]
        sales[m_key] = sales.get(m_key, 0) + purchs[i]

    return sales

monthly_sales = get_monthly_sales(purchase_dates, purchases)
monthly_sales

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}